.blog {
    width: 80%;
    margin: 1.2rem auto;
    max-width: 1200px;
}

.blog-entry-container {
    margin: 1rem auto;
}

.blog-entry {
    float: left;
    min-height: 1px;
    padding: 1.2rem;
    position: relative;
    width: 33%;
}

@media (max-width: 1600px) {
    .blog {
        width: 90%;
    }
}

@media (max-width: 1023px) {
    .blog-entry {
        width: 50%;
    }

    .blog {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .blog-entry-container {
        margin: .4rem auto;
    }

    .blog-entry {
        width: 100%;
    }

    .blog {
        width: 95%;
    }
}