.blog>*>*>img {
    width: 100%;
    height: 150px;
    vertical-align: middle;
    object-fit: cover;
}

.blogEntry {
    margin: 3rem 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@media (min-width: 769px) {
    .blogImageContainer {
        height: 200px;
    }
    .blog>*>*>img {
        width: 100%;
    }
}