.blog-post-thumbnail-container {
    position: relative;
}

.blog-post-thumbnail {
    width: calc(100% + 2.4rem);
    height: 150px;
    object-fit: cover;
    margin-top: -1.2rem;
    margin-left: -1.2rem;
}