/* Colors *

Red:          #A22C29
Black:        #333
Yellow:       #f0da50B
White:        #FFF
Green:        #2E933C
*/


/* Style the button that is used to open and close the collapsible content */

.collapsible {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

#collapsible__indicator {
    margin-top: 7px;
    float: right;
    width: 0;
    height: 0;
    display: block;
    border-top: 7px solid transparent;
    border-right: 7px solid white;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

#collapsible__indicator.active {
    border-right: 7px solid #f0da50;
}

#collapsible__indicator.hidden {
    border-top: 7px solid #FFF;
    border-right: 7px solid transparent;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.collapsible:hover {
    color: #f0da50;
}


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}