/* Colors *

Red:          #A22C29
Black:        #222
Yellow:       #f0da50
White:        #FFF
Green:        #2E933C
*/


/* === GRID SYSTEM === */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 1.6rem auto 2.4rem auto;
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        margin-bottom: 1.6rem;
        margin-top: .8rem;
    }
}

.row {
    margin: auto auto 1rem auto;
}

.row-dark {
    border: 1px solid grey;
    margin-bottom: 3rem;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
    position: relative;
}

.col-1 {
    width: 16.666%;
}

.col-2 {
    width: 33.333%;
}

.col-3 {
    width: 50%;
}

.col-4 {
    width: 66.666%;
}

.col-6 {
    width: 100%;
}

@media (max-width: 1024px) {
    .col-1 {
        width: 33.333%;
    }

    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .col-1 {
        width: 50%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-1 {
        width: 100%;
    }
}