#author-img {
    width: calc(100% + 2.4rem);
    height: auto;
    margin-top: -1.2rem;
    margin-left: -1.2rem;
}

#about-me-image {
    position: relative;
}

#about-me-image h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .8rem 1.6rem;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: all .5s;
}

/* about me details block */

#about-me-details p {
    margin: 1rem 0;
}

#about-me-details i {
    font-size: 1rem;
}

.shadow>h2 {
    margin: 0;
}

/* --- Berufliche Stationen --- */

.company-name {
    margin: -.8rem 0 -.4rem 0;
    font-size: .8rem;
}

/* --- About me block --- */

.language-level {
    margin-left: .4rem;
}

/* grey bar to display max possible progress */
.skill-metric-background {
    position: relative;
    border-radius: 16px;
    width: 100%;
    background-color: #F1F1F1;
}

/* yellow bar to display skill progress */
.skill-metric-scala {
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: #f0da50;
    font-size: 0.8rem;
    padding: 2px;
    text-align: center;
}

#about-me-languages:last-child {
    margin-bottom: 1rem;
}