/* Colors *

Red:          #A22C29
Black:        #333
Yellow:       #f0da50
White:        #FFF
Green:        #2E933C
Orange:       #D47524
*/


/* General global stylings */

* {
    box-sizing: border-box;
    color: #333;
}

html,
body {
    font-size: 16px;
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Specific elements styled for all pages */

hr {
    margin: 1.6rem auto;
    border: none;
    background-color: #f0da50;
    height: 1px;
}

a {
    color: #A22C29;
}

a:visited {
    color: #A22C29;
}

p {
    line-height: 1.5rem;
}

article p i {
    font-size: 16px;
}

i {
    margin-right: .4rem;
    font-size: 1.2rem;
}


/* headlines */

h1 {
    text-align: center;
    margin: 2rem auto 1.2rem auto;
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h2>a {
    text-decoration: none;
    color: inherit;
}

h2>a:visited {
    color: inherit;
}

h3 {
    font-size: 1.2rem;
}


/* --- general stylings --- */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* --- Buttons --- */

button {
    background-color: #f0da50;
    color: #333;
    border: 1px solid #333;
    padding: .4rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 3px;
}

button:hover {
    background-color: #fadf5a;
    cursor: pointer;
}


/* --- Tooltips --- */

.tooltip {
    position: relative;
    margin-top: 16px;
}

span.tooltip {
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    visibility: hidden;
    max-width: 240px;
    min-width: 180px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: .4rem;
    /* Position the tooltip */
    position: absolute;
    left: .4rem;
    bottom: 2rem;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

vanilla-footer {
    margin-top: auto;
    padding-top: 6px;
    background-color: #f0da50;
}

.footer-bot {
    background-color: #333;
    overflow: hidden;
}

.footer-bot>.container {
    margin: .8rem auto 1.6rem auto;
}


/* Footer website information text */

footer>.footer-bot p,
footer>.footer-bot p i {
    margin: .2rem 0;
    color: #F1F1F1;
    text-align: center;
}

#footer-made-with {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #header-vanilla {
        display: none;
    }
    h1 {
        margin-top: 0;
    }
}