
/* Colors *

Red:          #A22C29
Black:        #333
Yellow:       #f0da50
White:        #FFF
Green:        #2E933C
Orange:       #D47524
*/

* {
    box-sizing: border-box;
    color: #333;
}

hr {
    margin: 1.6rem auto;
    border: none;
    height: 0.1rem;
    background-color: #f0da50;
}

html, body {
    font-size: 16px;
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

a {
    color: #A22C29;
}

p {
    line-height: 1.5em;
}

a:visited {
    color: #A22C29;
}

h2>a {
    text-decoration: none;
    color: inherit;
}

h2>a:visited {
    color: inherit;
}

article {
    margin-bottom: 4rem;
}

#main {
    position: relative;
    transition: margin-left .5s;
    padding: 10px;
}

.exercise {
    margin-bottom: 2rem;
    border: 1px solid #333;
}

.col-6>h1 {
    text-align: center;
    margin-top: 16;
}

#header-vanilla {
    background-color: #f0da50;
    width: 100%;
    height: 8px;
}

vanilla-footer {
    margin-top: auto;
    padding-top: 8px;
    background-color: #f0da50;
}

#footer > div {
    padding-bottom: 48px;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    #header-vanilla {
        display: none;
    }
}