/* Colors *

Red:          #A22C29
Black:        #333
Yellow:       #f0da50B
White:        #FFF
Green:        #2E933C
*/

#target {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #A22C29;
    display: none;
}

#reaction-game {
    position: relative;
    display: block;
    height: 200px;
    margin: 20px;
}

.startButton {
    clear: left;
    display: inline;
    float: left;
    margin-right: 10px;
}

.stopButton {
    display: inline;
    float: left;
}

.gameContent>h2 {
    display: inline-block;
}

.gameContent {
    display: block;
}

.gameContent::after {
    content: "";
    clear: both;
    display: block;
}

#jumpGame {
    margin: 0px auto;
    background-color: #f0da50;
    border: 1px solid #151515;
    width: 50%;
    min-width: 150px;
    max-width: 250px;
    height: 280px;
    position: relative;
}