/* Colors *

Red:          #A22C29
Black:        #000
Yellow:       #F8F32B
White:        #FFF
Green:        #2E933C
*/


/* side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFF !important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #F8F32B !important;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
}

#openMenuBtn {
    font-size: 3rem;
    margin-left: 10px;
    border: none;
}

#openMenuBtn:hover {
    cursor: pointer;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}