@import "grid.css";
@import "nav.css";
@import "fonts/fonts.css";
@import "collapsible.css";
@import "minigames.css";
@import "blog.css";
@import "fonts/font-awesome-4.7.0/css/font-awesome.min.css";

/* Colors *

Red:          #A22C29
Black:        #000
Yellow:       #F8F32B
White:        #FFF
Green:        #2E933C
Orange:       #FF9933
*/

* {
    box-sizing: border-box;
}

a {
    color: #A22C29;
}

p {
    line-height: 1.5em;
}

a:visited {
    color: #A22C29;
}

h2>a {
    text-decoration: none;
    color: #000 !important;
}

h2>a::visited {
    color: #000 !important;
}

body {
    font-size: 16px;
    color: 111;
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

article {
    margin-bottom: 4rem;
}

#main {
    position: relative;
    transition: margin-left .5s;
    padding: 10px;
}

.exercise {
    margin-bottom: 2rem;
    border: 1px solid #151515;
}

.col-6>h1 {
    text-align: center;
    margin-top: 16;
}

#author-img {
    border-radius: 100%;
    max-width: 400px;
    min-width: 250px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}