@import "grid.css";
@import "nav.css";
@import "fonts/fonts.css";
@import "collapsible.css";
@import "reactiontest.css";

/* Colors *

Red:          #A22C29
Black:        #000
Yellow:       #F8F32B
White:        #FFF
Green:        #2E933C
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: 111;
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

#main {
    position: relative;
    transition: margin-left .5s;
    padding: 10px;
}

.gameContent::after {
    content: "";
    clear: both;
    display: block;
}

.exercise {
    margin-bottom: 2rem;
    border: 1px solid #151515;
}

.col-6>h1 {
    text-align: center;
    margin-top: 0;
}

.gameContent>h2 {
    display: block;
}

.gameContent {
    display: block;
}

#jumpGame {
    margin: 0px auto;
    background-color: #F8F32B;
    border: 1px solid #151515;
    width: 50%;
    height: 400px;
    position: relative;
}